<!DOCTYPE html>
<head>
    
    <!-- <script src="https://cdn.socket.io/4.1.2/socket.io.min.js"></script> -->
    <!-- jQuery and JavaScript Bundle with Popper -->
    <!-- <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js"></script> -->
    <!-- Vue -->
    <!-- <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12"></script> -->
    <!-- CSS -->
    <!-- <link href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" rel="stylesheet"> -->

    <script src="./src/socketio.js"></script>
    <!-- jQuery and JavaScript Bundle with Popper -->
    <script src="./src/jquery.slim.min.js"></script>
    <script src="./src/bootstrapbundle.js"></script>
    <!-- Vue -->
    <script src="./src/vue@2.6.12"></script>
    <!-- CSS -->
    <link href="./src/bootstrap.css" rel="stylesheet">
</head>
<body>
    <title>Game intorduced by Wan</title>
    <div id="app">
        {{message}}
        <!-- 进入房间前的组件 -->
        <div id="beforeGame">
            <input placeholder="在这输入游戏ID" v-model="user">
            <br>
            <button id="createBtn" onclick="createRoom()" type="button" class="btn btn-primary">创建房间</button>
            <br>
            <div class="joinBtn">
                <button v-for="(value, key, index) in roomList" v-on:click="joinRoom(value)">
                    {{ value.owner.ownername }}
                </button>
            </div>
        </div>

        <!-- 进入房间后等待开始的组件 -->
        <div id="waitGame" style="display: none;">
            <p id="waitingPer">当前房间玩家:{{ waitingPlayer }}</p>
            <button class="btn btn-primary" id="startGameBtn" onclick="startGame()">开始游戏</button>
        </div>

        <!-- 游戏正式进行 -->
        <div id="inGame" style="display: none;">
            <p>游戏进行中</p>
            <p v-for="info in card" style="display: none;">{{info}}</p>
            <div v-for="(value, key, index) in stat">
                <p v-if="">{{key}} : health: {{value.health}} resource: {{value.resource}}</p>
                <!-- 这里需要补充
                
                
                
                
                
                
                
                
                
                
                
                -->
            </div>
            <button id="drawBtn" onclick="drawfn()">抽牌</button>
            <button id="killBtn" onclick="prekill()" v-if="resource > 6">刺杀</button>
            <div id="killtars" style="display: none;">
                <button v-for="(health, player, index) in aliveList" v-on:click="killfn(player)">
                    {{player}} : {{health}}
                </button>
            </div>
            <div id="card2lose" style="display: none;">
                <button v-for="(value, key, index) in cardLose" v-if="value > 0" v-on:click="loseCard(key)">{{key}}</button>
            </div>
        </div>
    </div>
</body>
<script>
    const socket = io("http://localhost:3000");
    socket.emit("listRoom");

    // 进行进入等待界面时的组件切换
    before2wait = function() {
        document.getElementById("beforeGame").style.display = "none";
        document.getElementById("waitGame").style.display = "block";
    }

    // 从等待模式到开始时的组件切换
    wait2start = function() {
        document.getElementById("waitGame").style.display = "none";
        document.getElementById("inGame").style.display = "block";
    }

    // 创建游戏房间
    createRoom = function() {
        before2wait();
        socket.emit('createRoom', {id: socket.id, name: app.user});
        app.waitingPlayer = app.user;
        app.room = socket.id;
    }

    // 在有人创建房间后，接收后台广播的房间信息
    socket.on("listingRoom", data => {
        console.log(data);
        app.roomList[data.owner.ownerid] = data;
    })

    // 初始化读取房间信息
    socket.on('roomlist', data => {
        app.roomList = data;
    });

    // 获取同一个房间中等待的用户信息
    socket.on('playersWaiting', data => {
        app.waitingPlayer = "";
        for(let i = 0; i < data.length; i++) {
            app.waitingPlayer += data[i] + ' ';
        }
    });

    // 接收房间开始游戏信号，不再允许进入
    socket.on('disableRoom', data => {
        console.log(data);
        console.log("disabled");
        delete app.roomList[data];
    });

    // 接收游戏初始化时分到的角色
    socket.on('initGame', data => {
        // 进入游戏时的UI
        wait2start();
        // app.card = data.stat[app.user]['card'];
        console.log(data);
        app.stat = data.stat;
        let stat = app.stat;
        for(let key in stat) {
            // 对于当前用户，暴露自己的卡牌信息
            if(key == app.user) {
                let infoword = key + ":";
                app.cardLose = stat[key].card;
                for(let i in stat[key].card) {
                    for(let j = 0; j < stat[key].card[i]; j++) {
                        infoword += i;
                    }
                }
                app.card.push(infoword);
            }
            else {// 其余玩家，卡牌信息保留
                app.card.push(key + ":??");
            }
        }
        socket.emit("readyToStart", {user: app.user, room: app.room});
    });

    // 接收要刷新页面的信息
    socket.on('refresh', () => {
        alert("当前信息已经过时，即将刷新界面");
        location.reload();
    })

    // 开始轮转
    socket.on("turnStart", data => {
        console.log("turn start");
    })

    // 通过点击按钮加入某个房间
    joinRoom = function(room) {
        before2wait();
        console.log(room);
        document.getElementById("startGameBtn").style.display = "none";// 因为加入别人房间，所以没有权限开始游戏
        app.room = room.owner.ownerid;
        socket.emit('joinRoom', {user: app.user, roomid: room.owner.ownerid});
    }

    // 房主开始游戏
    startGame = function() {
        socket.emit('startGame', {user: app.user, roomid: socket.id});
    }

    // 回合开始的选择阶段
    socket.on("state0", data => {
        let room = data.room;
        let curPlayer = data.cur;
        console.log("in state 0");
        console.log(data);
    });

    // 抽牌函数
    drawfn = function() {
        socket.emit("drawCard", {room: app.room, player: app.user});
    }

    // 发送抽牌请求后接受资源
    socket.on("receiveCard", data => {
        let room = data.room;
        let player = data.player;
        if(room === app.room && player === app.user) {
            app.resource += 2;
            app.stat[player].resource += 2;
        }
    });

    // 即将刺杀玩家，获取可刺杀玩家的列表？？？
    socket.on("receiveTarget", data => {
        app.aliveList = data;
        document.getElementById("killtars").style.display = "block";
    });

    // 刺杀时显露目标
    prekill = function() {
        socket.emit("aliveList", app.room);
    }

    // 刺杀函数
    killfn = function(killee) {
        app.resource -= 7;
        app.stat[app.user].resource -= 7;
        document.getElementById("killtars").style.display = "none";
        socket.emit("killPlayer", {room: app.room, killer: app.user, killee: killee});
    }

    // 刺杀后即将失去生命，选择失去的卡牌          这里需要完善
    socket.on("loseHealth", killee => {
        if(killee === app.user) {
            document.getElementById("card2lose").style.display = "block";
        }
    });

    // 失去生命后失去卡牌，实际失去生命的函数
    loseCard = function(card) {
        app.cardLose[card]--;
        if(app.cardLose[card] === 0) {
            delete app.cardLose.card;
        }
        socket.emit("loseCard", {room: app.room, card: card, player: app.user});
        document.getElementById("card2lose").style.display = "none";
    }

    // 刷新状态
    socket.on("freshStat", data => {
        app.stat = data;
    });

    let app = new Vue({
        el:'#app',
        data:{
            message:"Hello Vue",
            room:"",
            roomList:{},
            waitingPlayer:"",
            user:"",
            card:[],
            resource: 0,
            aliveList: {},
            cardLose:{},
            stat:{}
        }
    });
</script>