<!DOCTYPE html>
<head>
    
    <!-- <script src="https://cdn.socket.io/4.1.2/socket.io.min.js"></script> -->
    <!-- jQuery and JavaScript Bundle with Popper -->
    <!-- <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js"></script> -->
    <!-- Vue -->
    <!-- <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12"></script> -->
    <!-- CSS -->
    <!-- <link href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" rel="stylesheet"> -->

    <script src="./src/socketio.js"></script>
    <!-- jQuery and JavaScript Bundle with Popper -->
    <script src="./src/jquery.slim.min.js"></script>
    <script src="./src/bootstrapbundle.js"></script>
    <!-- Vue -->
    <script src="./src/vue@2.6.12"></script>
    <!-- CSS -->
    <link href="./src/bootstrap.css" rel="stylesheet">
</head>
<body>
    <title>Game intorduced by Wan</title>
    <div id="app">
        {{message}}
        <!-- 进入房间前的组件 -->
        <div id="beforeGame">
            <input placeholder="在这输入游戏ID" v-model="user">
            <br>
            <button id="createBtn" onclick="createRoom()" type="button" class="btn btn-primary">创建房间</button>
            <br>
            <div class="joinBtn">
                <button v-for="(value, key, index) in roomList" v-on:click="joinRoom(value)">
                    {{ value.owner.ownername }}
                </button>
            </div>
        </div>

        <!-- 进入房间后等待开始的组件 -->
        <div id="waitGame" style="display: none;">
            <p id="waitingPer">当前房间玩家:{{ waitingPlayer }}</p>
            <button class="btn btn-primary" id="startGameBtn" onclick="startGame()">开始游戏</button>
        </div>

        <!-- 游戏正式进行 -->
        <div id="inGame" style="display: none;">
            <span>游戏中</span>
            <br>
            <span id="heroInfo"></span>
            <br>
            <span id="declarationShow">{{declaration}}</span>
            <br>
            <div v-for="(value, key, index) in stat">
                <span v-if="key === user" class="border border-primary">{{key}} : health: {{value.health}} resource: {{value.resource}}</span>
                <span v-else v-on:click="robTarget(key)">{{key}} : health: {{value.health}} resource: {{value.resource}}</span>
            </div>
            <br>
            <div id="btnAtStart">
                <button id="drawBtn" onclick="drawfn()">抽牌</button>
                <button v-for="(power, hero, index) in heroList" v-on:click="declareHero(hero)" v-if="hero !== '9' || resource > 2">{{hero}}</button>
                <button id="killBtn" onclick="prekill(7)" v-if="resource > 6">刺杀</button>
            </div>
            <button id="suspectBtn" onclick="suspect(true)" style="display: none;">怀疑</button>
            <button id="notSuspectBtn" onclick="suspect(false)" style="display: none;">同意</button>
            <div id="killtars" style="display: none;">
                <button v-for="(health, player, index) in aliveList" v-on:click="killfn(player)" v-if="player !== user">
                    {{player}} : {{health}}
                </button>
            </div>
            <div id="reaction" style="display: none;">
                <button id="resistBtn" onclick="resistAction(true)">抵抗</button>
                <button id="notResistBtn" onclick="resistAction(false)">不抵抗</button>
            </div>
            <div id="card2lose" style="display: none;">
                <button v-for="(value, key, index) in cardLose" v-if="value > 0" v-on:click="loseCard(key)">{{key}}</button>
            </div>
            <div id="hero2select">
                <span v-for="(hero, index) in heroPool" v-on:click="chooseHero(hero, index)" class="border border-primary">{{hero}}</span>
            </div>
        </div>
    </div>
</body>
<script>
    const socket = io("http://localhost:3000");
    socket.emit("listRoom");

    // 进行进入等待界面时的组件切换
    before2wait = function() {
        document.getElementById("beforeGame").style.display = "none";
        document.getElementById("waitGame").style.display = "block";
    }

    // 从等待模式到开始时的组件切换
    wait2start = function() {
        document.getElementById("waitGame").style.display = "none";
        document.getElementById("inGame").style.display = "block";
    }

    // 创建游戏房间
    createRoom = function() {
        before2wait();
        socket.emit('createRoom', {id: socket.id, name: app.user});
        app.waitingPlayer = app.user;
        app.room = socket.id;
    }

    // 在有人创建房间后，接收后台广播的房间信息
    socket.on("listingRoom", data => {
        console.log(data);
        app.roomList[data.owner.ownerid] = data;
    })

    // 初始化读取房间信息
    socket.on('roomlist', data => {
        app.roomList = data;
    });

    // 获取同一个房间中等待的用户信息
    socket.on('playersWaiting', data => {
        app.waitingPlayer = "";
        for(let i = 0; i < data.length; i++) {
            app.waitingPlayer += data[i] + ' ';
        }
    });

    // 接收房间开始游戏信号，不再允许进入
    socket.on('disableRoom', data => {
        delete app.roomList[data];
    });

    // 接收游戏初始化时分到的角色
    socket.on('initGame', data => {
        // 进入游戏时的UI
        wait2start();
        app.stat = data.stat;
        let stat = app.stat;
        for(let key in stat) {
            // 对于当前用户，暴露自己的卡牌信息
            if(key == app.user) {
                let infoword = key + ":";
                app.cardLose = stat[key].card;
            }
        }
        socket.emit("readyToStart", {user: app.user, room: app.room});
    });

    // 接收要刷新页面的信息
    socket.on('refresh', () => {
        alert("当前信息已经过时，即将刷新界面");
        location.reload();
    })

    // 开始轮转
    socket.on("turnStart", data => {
        let curPlayer = data.curPlayer;
        if(curPlayer === app.user) {
            document.getElementById("btnAtStart").style.display = "block";
        }
        else {
            document.getElementById("btnAtStart").style.display = "none";
        }
    })

    // 通过点击按钮加入某个房间
    joinRoom = function(room) {
        before2wait();
        console.log(room);
        document.getElementById("startGameBtn").style.display = "none";// 因为加入别人房间，所以没有权限开始游戏
        app.room = room.owner.ownerid;
        socket.emit('joinRoom', {user: app.user, roomid: room.owner.ownerid});
    }

    // 房主开始游戏
    startGame = function() {
        socket.emit('startGame', {user: app.user, roomid: socket.id});
    }

    // 回合开始的选择阶段
    socket.on("state0", data => {
        let room = data.room;
        let curPlayer = data.cur;
        console.log("in state 0");
        console.log(data);
    });

    // 抽牌函数
    drawfn = function() {
        socket.emit("drawCard", {room: app.room, player: app.user, resource: 2});
    }

    // 发送抽牌请求后接受资源
    socket.on("receiveCard", data => {
        let room = data.room;
        let player = data.player;
        if(room === app.room && player === app.user) {
            app.resource += 2;
            app.stat[player].resource += 2;
        }
    });

    // 即将刺杀玩家，获取可刺杀玩家的列表
    socket.on("receiveTarget", data => {
        app.aliveList = data;
        document.getElementById("killtars").style.display = "block";
    });

    // 刺杀时显露目标
    prekill = function(consume) {
        app.consume = consume;
        socket.emit("aliveList", app.room);
    }

    // 刺杀函数
    killfn = function(killee) {
        app.resource -= app.consume;
        app.stat[app.user].resource -= app.consume;
        document.getElementById("killtars").style.display = "none";
        if(app.consume === 7){
            socket.emit("killPlayer", {room: app.room, killer: app.user, killee: killee, consume: 7});
        }
        else {
            socket.emit("hitPlayer", {room: app.room, hitter: app.user, hittee: killee, consume: 3});
        }
    }

    // 刺杀后即将失去生命，选择失去的卡牌,或者是8技能上交一个卡牌
    socket.on("loseHealth", data => {
        if(data.player === app.user) {
            document.getElementById("card2lose").style.display = "block";
        }
        if(data.eight === true) {
            app.powerOfEight = true;
        }
    });

    // 失去英雄
    loseCard = function(card) {
        app.cardLose[card]--;
        if(app.cardLose[card] === 0) {
            delete app.cardLose.card;
        }
        socket.emit("loseCard", {room: app.room, card: card, player: app.user});
        socket.emit("addCard", {room: app.room, card: card});
        document.getElementById("card2lose").style.display = "none";
        if(app.powerOfEight === true) {
            if(app.stat[app.user].health === 2) {
                for(let key in app.stat[app.user].card) {
                    if(app.stat[app.user].card[key] > 0) {
                        app.stat[app.user].card[key]--;
                        delete app.cardLose[key];
                        socket.emit("handInHero", {room: app.room, player: app.user, hero: key});
                    }
                }
            }
        }
        app.powerOfEight = false;
    }

    socket.on("selectNewHero", data => {
        if(data.player === app.user) {
            app.heroPool = data.pool;
        }
    });
    

    // 声明自己的英雄
    declareHero = function(hero) {
        socket.emit("declareHero", {room: app.room, player: app.user, hero: hero});
    }

    cardObjToString = function(cardObj) {
        let s = app.user + " 拥有英雄: ";
        for(let card in cardObj) {
            for(let j = 0; j < cardObj[card]; j++) {
                s += card;
            }
        }
        return s;
    }

    // 刷新状态
    socket.on("freshStat", data => {
        try{
            app.stat = data;
            app.cardLose = data[app.user].card;
            document.getElementById("heroInfo").innerText = cardObjToString(app.cardLose);
            app.resource = app.stat[app.user].resource;
        }
        catch(err){
            console.log(err);
        }
    });

    // 接收自己角色死亡信息
    socket.on("playerDie", killee => {
        if(killee === app.user){
            let buttons = document.getElementsByTagName("button");
            for(let i in buttons) {
                buttons[i].disabled = true;
            }
        }
    });

    // 如果怀疑对象是自己，直接不怀疑，否则展示怀疑组件
    socket.on("waitSuspect", data => {
        if(data.player === app.user) {
            data["suspect"] = false;
            data["user"] = app.user;
            socket.emit("suspect", data);
        }
        else {
            app.declaration = data.player + "声明自己拥有" + data.hero;
            document.getElementById("suspectBtn").style.display = "block";
            document.getElementById("notSuspectBtn").style.display = "block";
            app.candidate = data;
        }
    });

    // 怀疑和肯定按钮的实现
    suspect = function(attitude) {
        document.getElementById("suspectBtn").style.display = "none";
        document.getElementById("notSuspectBtn").style.display = "none";
        app.candidate["suspect"] = attitude;
        app.candidate["user"] = app.user;
        socket.emit("suspect", app.candidate);
    }

    // 英雄8效果，重新选择英雄
    chooseHero = function(hero, index) {
        app.heroPool.splice(index, 1);
        app.newHero.push(hero);
        if(app.newHero.length === app.stat[app.user]['health']) {
            socket.emit("chooseHero", {room: app.room, player: app.user, newHero: app.newHero, restHero: app.heroPool});
            app.newHero = [];
            app.heroPool = [];
        }
    }

    // 使英雄获得两次抢夺他人机会
    socket.on("canRobResource", player => {
        if(player === app.user) {
            app.canRob = 2;
        }
    });

    // 英雄2的技能，抢夺其他人的资源
    robTarget = function(target) {
        if(app.canRob > 0 && app.stat[target].resource > 0) {
            app.canRob--;
            socket.emit("toBeRob", {room: app.room, robber: app.user, robbee: target, restRob: app.canRob});
        }
    }

    // 包括对2和9的反击，反击效果为不被抢牌和伤害
    resistAction = function(attitude) {
        // 统一进行反击
        if(attitude) {// 进行对应的反击
            socket.emit("declareHero", {room: app.room, player: app.user, hero: app.resistHero, badGuy: app.badGuy, restRob: app.restRob});
            app.restRob = 0;
        }
        else {
            socket.emit("giveUp", {room: app.room, user: app.user, tool: app.resistHero, badGuy: app.badGuy, restRob: app.restRob});
            app.badGuy = "";
            app.resistHero = "";
        }
        document.getElementById("reaction").style.display = "none";
    }

    socket.on("willBeRob", data => {
        if(data.robbee === app.user) {
            document.getElementById("reaction").style.display = "block";
            app.resistHero = "8";
            app.badGuy = data.robber;
            app.restRob = data.restRob;
        }
    });

    // 英雄9的技能，消耗3个资源
    socket.on("canHit", data => {
        if(data.player === app.user) {
            prekill(3);
        }
    });

    // 成为9的目标
    socket.on("willBeHit", data => {
        if(data.hittee === app.user) {
            document.getElementById("reaction").style.display = "block";
            app.resistHero = "K";
            app.badGuy = data.hitter;
        }
    });

    // 有人怀疑，结束怀疑状态
    socket.on("endSuspect", () => {
        document.getElementById("suspectBtn").style.display = "none";
        document.getElementById("notSuspectBtn").style.display = "none";
    });

    socket.on("message", message => {
        app.message = message;
    });

    socket.on("endGame", data => {
        if(data.winner === app.user) {
            alert("获胜!");
        }
        else {
            alert("胜利者是" + data.winner);
        }
    });

    let app = new Vue({
        el:'#app',
        data:{
            room:"",
            roomList:{},
            waitingPlayer:"",
            user:"",
            resource: 0,
            aliveList: {},
            cardLose:{},
            stat:{},
            heroList:{
                2: "抢夺其他玩家的两份资源",
                3: "获取三份资源",
                8: "更换技能,不受抢夺",
                9: "使用三份资源进行攻击"
            },
            declaration:"",
            candidate:{},
            powerOfEight: false,
            heroPool: [],
            newHero:[],
            canRob: 0,
            resistHero: "",
            badGuy:"",
            restRob: 0,
            consume: 7,
            message: ""
        }
    });
</script>